@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);


body, h1{
  margin: 50px;
}

.form-checkbox{
  position: relative;

  input{
    position: absolute;
    appearance: none;
    width: 12px;
    height: 12px;
  }

  label{
    background: url(../images/un-check.svg) no-repeat 0 0 /contain;
    padding-left: 25px;
  }

  input:checked + label{
    background-image: url(../images/checked.svg);
  }

  input:focus{
    outline: none;
    /* outline-offset: 4px; */
  }
  
  input:focus-visible{
    outline: 2px solid red;
  }
}