@import url(/style/theme.css);

/* 스타일 초기화 */
h1, h2, h3, h4, h5, h6{
  font: inherit;
  font-size: 1em;
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

ul, ol{
  list-style: none;
  padding-left: 0;
  padding-inline-start: 0;
  margin: 0;
}

fieldset{
  border: 0;
  margin: 0;
  padding: 0
}

input, textarea, select, option, button{
  font: inherit;
}


/* 기본 스타일 */
:root{
  --base-font-family: "SUIT Variable", sans-serif; 
}

body{
  font-family: var(--base-font-family);
  line-height: 1.15;
}

/* input 컴포넌트 */
.form-input{
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;

  input{
    flex-grow: 1;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 1px 1px 8px;
    height: 24px;
    block-size: 24px;
    width: 100%;
  }
}

/* button 컴포넌트 */
.button{
  --bg-color:var(--orange-200);
  --color: var(--white);
  --radius: 3px;

  border: 0;
  padding: 16px 10px;
  background-color: var(--bg-color);
  color: var(--color);
  border-radius: var(--radius);
  white-space: nowrap;
}


/* 링크 텍스트 컴포넌트 (아이콘 유형) */
.icon-link{
  [class*='fas']{
    color: var(--orange-200);
    padding-right: 0.25em;
    padding-inline-end: 0.25em;
  }
}


/* 로그인 */
.login{
  /* 로그인 변수 */
  --start-color: var(--orange-100);
  --end-color: var(--orange-200);
  --shadow-color: var(--gray-700);
  --spacing: 10px;
  --radius: 5px;
  --shadow-depth: 5px;
  --bg-color: var(--white);
  --border-color: var(--gray-500);

  background-image: radial-gradient(circle at right top, var(--start-color,), var(--end-color));
  border-radius: var(--radius);
  padding: var(--spacing);
  box-shadow: var(--shadow-depth) var(--shadow-depth) 0 0 var(--shadow-color);

/* 로그인 제목 */
.login-title{
  --color: var(--yellow);
  
  color: var(--color);
  margin: 0;
  font-size: 0.9375rem;
}

/* 로그인 폼 */
.login-form{
  margin-top: var(--spacing);
  margin-block-start: var(--spacing);
  background-color: var(--bg-color);
  border-radius: var(--radius) var(--radius) 0 0;
  padding: var(--spacing);

    fieldset{
      border-bottom: 1px solid var(--border-color);
      display: flex;
      flex-flow: row nowrap;
      gap: var(--spacing);
      padding-bottom: var(--spacing);
      padding-block-end: var(--spacing);
    }

    .form-input-group{
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing);

      label{
        min-width: 4em;
        min-inline-size: 4em;
      }
    }
  } 

  /* 멤버 서비스 관련 링크 */
  .member-sign{
    background-color: var(--bg-color);
    border-radius: 0 0 var(--radius) var(--radius);
    padding: 0 var(--spacing) var(--spacing) var(--spacing);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}



