@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);

body{
  margin: 50px;
}

.menu{
  background:orangered linear-gradient(to bottom, orange, orangered, orange);
  box-shadow: 0 -5px 0 0 #121212;
  color: #000;
  display: flow-root;
  padding-left: 225px;
  padding-inline-start: 225px;

  > li{
    float: left;
    border-left: 2px solid #fff;
  }

  .is--active{
    button{
      color: yellow;
      
      span{
        border-bottom: 2px solid #000;
      }
    }

    ul{
      display: block;
    }
  }

  button{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 24px;
    height: 60px;
    block-size: 60px;
    line-height: 60px;
    background: transparent;
    border: 0;
    color: #fff;
    text-shadow: 1px 1px 0 #000 , -1px -1px 0 #000;

    span{
      display: block;
    }
  }

  /* button[aria-expanded="true"]{
    color: lime;
  } */

  ul{
    display: none;
    position: absolute;
  }

  /* ul[aria-hidden="false"]{
    display: block;
  } */

}
