@import url(./grid.css);

/* 웹카페 반응형 레이아웃 */
.container{
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
  .header, .navigation, .footer{
    height: 100px;
    block-size: 100px;
    width: 100%;
    inline-size: 100%;
  }

  .main{
    max-width: 90%;
    width: 100%;
    flex: 1 0 auto;
  }
}


