<!DOCTYPE html>
<html lang="ko">
<head>
  <title>햄버거 버튼</title>
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
  <link rel="stylesheet" href="/theory/css/default.css" />
  <script type="module" src="/js/navigation.js"></script>
</head>
<body>
  <button type="button" aria-label="메인 메뉴 열기" class="burger-button">
    <span class="burger-bar burger-bar-top"></span>
    <span class="burger-bar burger-bar-middle"></span>
    <span class="burger-bar burger-bar-bottom"></span>
  </button>
</body>
</html>