<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>그리드 가이드</title>
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="/theory/css/grid-guide.css" /> -->
    <link rel="stylesheet" href="/theory/css/default.css" />
    <link rel="stylesheet" href="/theory/css/iframe.css" />
    <script type="module" src="/theory/js/grid-guide.js"></script>
    <script type="module" src="/js/navigation.js"></script>
  </head>
  <body>

    <figure class="iframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pDEXW5jTNyw?si=-Z98Dj-6ZzqWksgT" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </figure>

      
  </body>
</html>
