<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>그리드 가이드</title>
    <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="/theory/css/grid-guide.css" /> -->
    <link rel="stylesheet" href="/theory/css/default.css" />
    <link rel="stylesheet" href="/components/css/logo.css" />
    <script type="module" src="/theory/js/grid-guide.js"></script>
    <script type="module" src="/js/navigation.js"></script>
  </head>
  <body>
    <div class="logo" aria-label="웹카페"></div>

       
  </body>
</html>
